H1 {color : pink; text-align : center; font-family : Verdana; font-size : 2.4vw}
BODY {background-color : pink}
nav{background-color : black; width : 100%; height: 7vw ; float : right; font-size : 0.7vw; position : relative}